/* Page styles */
html {
    height: 100%;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 1200px;
    background: linear-gradient(#fff6ef, #ff6469) fixed;
}

table {
    width: 100%;
    margin: 20px auto;
    font-family: 'Indie Flower', OpenSans, cursive;
    text-align: center;
    color: #90383c;
    background-color: white;
}

td {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

tr {
    padding: 0;
    margin: 0 auto;
}


.controls {
    margin: 50px auto;
    text-align: center;
}


.insertGap {
    margin-bottom: 12px;
}


/* Text alignment & Styles*/

.message {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding-top: 2%;
    text-align: center;
    font-family: 'Indie Flower', OpenSans, cursive;
    font-size: 44pt;
}

h3 {
    text-align: center;
    font-family: 'Indie Flower', OpenSans, cursive;
    font-size: 20pt;
}

h4 {
    text-align: center;
}